<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Lahiru/Desktop/selenium2/SingerSL">
        <classes>
            <class name="Login"/>
            <class name="Logout"/>
            <class name="Search"/>
            <class name="ShoppingCart"/>
            <class name="WishList"/>
            <class name="AddToCart"/>

        </classes>
    </test>
</suite>