<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="url" value="https://www.singersl.com/"></parameter>
    <test name="test_singer">
        <classes>
            <class name="AddToCart"/>
            <class name="Login"/>
            <class name="Logout"/>
            <class name="Search"/>
            <class name="ShoppingCart"/>
            <class name="AddToCart"/>
            <class name="WishList"/>
        </classes>
    </test>
</suite>
